/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -24px;
	top: 68px; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 162px; /* match ul width */
	top: -5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
.sf-menu {float:right;}
.sf-menu > li  {
	border-left: 1px solid #efdda9;
	border-top: 1px solid #efdda9;
	margin-left:1px;
	background: #ecd79e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZDc5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2QxOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ecd79e 0%, #e7d195 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecd79e), color-stop(100%,#e7d195)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ecd79e 0%,#e7d195 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ecd79e 0%,#e7d195 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ecd79e 0%,#e7d195 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ecd79e 0%,#e7d195 100%); /* W3C */
	filter: none;
	-pie-background: linear-gradient(#ecd79e 0%, #e7d195 100%);
}
.sf-menu > li.first-child {
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
}
.sf-menu > li.last-child {
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
}
.sf-menu > li > a {
	font-size:11px;
	color: #3d3939;
	width:122px;
	text-align:center;
	text-transform: uppercase;
	padding: 32px 0;
}
.sf-menu > li:hover, .sf-menu > li.active, .sf-menu > li.sfHover {
	background:#3d3939;
	border-left: 1px solid #3d3939;
	border-top: 1px solid #3d3939;
	-pie-background: linear-gradient(#3d3939 0%, #3d3939 100%);
}
.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
	color: #ead59c;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 150px;
	padding: 9px 11px 13px 11px;
	background-color:#3d3939;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-top: 5px solid #555151;
}
.sf-menu li li {
	margin-bottom:1px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: url('../images/zero.png');
}
.sf-menu li li a {
	font-size:11px;
	line-height:20px;
	padding:5px 0;
	text-transform: uppercase;
	color: #ecd79d;
	text-align:center;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #ffbb00;
}
.sf-menu  li li:hover, .sf-menu > li li.active, .sf-menu > li li.sfHover {
	background-color:#555151;
}

.sf-menu .sf-sub-indicator {
		display:none;
	}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.sf-menu > li > a {
		width:100px;
	}
}
@media only screen and (max-width: 767px) {
	.sf-menu{float:none;}
	
	.sf-menu ul,.sf-menu ul ul {min-width:100%; position: relative; left: 0 !important; top:0px !important; padding:0; background:none; border:none;}
	
	nav {
		width:100%;
		float:none;
	}
	
	
	.sf-menu > li {
		float:none;
		margin:0;
		margin-bottom:5px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.sf-menu > li a {
		width:auto;
		text-align:left;
		padding: 15px 20px;
		font-size:12px;
	}
	.sf-menu > li li {float:none;}
	
	.sf-menu > li li a {
		text-align:left;
		padding-left:40px;
		padding-right:10px;
	}
	.sf-menu > li li li a {
		padding-left:60px;
	}
	
	.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
		color: #ffbb00;
	}
	
	.sf-menu > li.first-child, .sf-menu > li.last-child {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	
	.sf-menu  li li:hover, .sf-menu > li li.active, .sf-menu > li li.sfHover {
		background:transparent;
	}
	
	.sf-menu .sf-sub-indicator {
		text-indent: -999em;
		width: 7px;
		height: 4px;
		display:inline-block;
		background: url('../images/sf-sub-indicator-2.png') no-repeat;
		position:relative;
		left:10px;
		top:5px;
	}
	.sf-menu li li .sf-sub-indicator {
		background: url('../images/sf-sub-indicator.png') no-repeat;
	}
	.sf-menu > li li > a > .sf-sub-indicator {
		left:8px;
		top:8px;
	}
	
	.sf-menu li a:hover .sf-sub-indicator, .sf-menu li.active a .sf-sub-indicator, .sf-menu li.sfHover > a .sf-sub-indicator {
		background-position:0 100%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}